.profile-container {
  width: 100%;
  background-color: #ffffff;
  margin-left: 18px;
  margin-top: 21px;
  margin-right: 35px;
}

.personal-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2{
  line-height: 60px;
  font-size: 25px;
  font-weight: 700;
  border-bottom: 1px solid #C5C1C1;
}
.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 20px;
  font-weight: bold;
}



.class, .email {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}
.Password{
    font-weight: 700;
    font-size: 26px;
    text-align: start;
    line-height: 50px;
    border-bottom: 1px solid #C5C1C1;
}
.password-section {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.title-input {
  font-size: 14px;
  text-align: start;
  color: #85877E;
}

.current-pass, .new-pass, .confirm-pass{
  font-size: 14px;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-item{
  width: 100%;
}

.info-item input{
  width: 100%;
  border: 1px solid #EEEEEE;
  height: 48px;
  padding-left: 20px;
  border-radius: 10px;
}
.password-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.password-inputs input {
  padding: 20px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 48px;
}


.save-button{
  display: inline-block;
    padding: 10px 20px; 
    background-color: #00BFFF;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    text-align: center; 
    cursor: pointer;
    vertical-align: middle; 
    position: relative;
    top: 15px;
}
.save-button:hover {
  background-color: #0056b3;
}

.personal-info {
  display: flex;
  margin-bottom: 20px;
  border-radius: 4px;
  gap: 30px;
}

.info-item {
  flex: 1;
  margin: 0 10px;
}

.title-input {
  font-weight: bold;
  display: block;
  margin-bottom: 5px; 
}

.info-item span {
  display: block;
  margin-top: 5px;
  color: #333;
  font-size: 16px; 
  font-weight: normal; 
}
